body{
    font-family: 'Roboto', sans-serif;
    color:  #373737;
    font-size: 18px;
    text-align: center;
}


.conteiner {
width: 1060px;
margin: 0 auto;
}

.top-menu {
color:  #16a085;
font-size: 18px;
font-weight: 900;
text-decoration: none;
text-transform: uppercase;
display: inline-block;
margin-right: 20px;
margin-left: 20px;
background-color: ghostwhite;
}

.menu-top{
text-align: center;
padding-top: 32px;
padding-bottom: 32px;
background-color: white;
}

.top-menu:hover {
color: red;
}

.text{
    text-align: center;
    margin-top: 20px;
    font-weight: 900;

}


.btn{
    display: inline-block;
    margin: 40px 0;
    padding: 25px 45px;
    background-color:  #16a085;
    color:  #ffffff;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}

.utext{
    text-transform: full-width;
    font-weight: 900;
}

.copy{
    text-align: right;
}

.fone{
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    background-color: ghostwhite;
}